
@{
    ViewBag.Title = "Home";
}

<div class="row">
    <div class="col-12">
        <div class="jumbotron bg-light border shadow-sm text-center text-secondary">
            <p class="display-3">Learn, share, build</p>
            <h3 class="text-monospace">Each month, over 50 million developers visit Stack Overflow to learn, share their thoughts, and help each other.</h3>
            <p class="lead text-primary">Join world's largest developer community today</p>
        </div>
    </div>
</div>

